include ../_header

.content.clearfix
  .sections-container.clearfix
    :markdown
      # Full-size project (above $1M, or $2M for LDCF)

      The GEF describes it’s full project cycle [here](http://www.thegef.org/gef/project_cycle). This page presents the workflow for an FSP from a project developer point of view.

      ## Step 1. Project Idea
      The proponent pursues a partnership with a GEF Agency and GEF Operational Focal Point(s) for endorsement of the initial project concept. We recommend using the [pre-PIF format](/templates.html#pre-pif) as a basis for these discussions.

      Circulate draft pre-PIF to key stakeholders for feedback and agreement. The concept could potentially go to the relevant staff at the GEF secretariat informally at this stage for guidance before embarking on the PIF development.

      ## Step 2. PIF
      Develop the draft PIF. You can use the [collaboration templates](/templates.html#pif) within your project team, to make it easy to work on different sections at the same time and avoid issues of version control. Remember to get the latest official PIF template (for GEF Trust Fund or LDCF/SCCF) for official communication.

      After the appropriate review and sign-off, the Implementing Agency will make the official submission of the PIF to the GEF secretariat.

      The GEF secretariat is expect to respond to the PIF submission within 10 days, with review comments (using the [review sheet](/templates.html#review-sheet)). The Agency then has 10 days to respond to the review comments and update the PIF as required. (If the Agency needs additional time, it should explain the pending issues within 10 days, and work with the secretariat to mutually agree new timeline for submission.)

      Then the updated PIF and review, as well as any comments from STAP, are posted (by the secretariat) on the GEF website, minimum 4 weeks before the relevant Council meeting or intersessional work programme.

      The PIF can be approved, or it can be returned with comments and a request to resubmit.

      ## Step 3. Preparation grant request

      A [project preparation grant (PPG) request](/templates.html#ppg-request) can be submitted with the PIF or afterwards.

      The project may require PPG resources from GEF if work is needed that yields specific outputs to inform the full project design. Examples include: a broad scale consultation for a large multi-country project, or in-depth consultations with specific communities; to conduct detailed baseline assessments, feasibility studies including cost-effectiveness studies; and/or for meeting specific processes designated by the Implementing Agency (e.g. World Bank safeguards). The PPG resources come out of the total project budget.

      ## Step 4. Project Preparation

      Once your PIF has been approved, project preparation is expected to be completed as soon as possible, and no later than 18 months from the PIF’s Council approval date. This timeline includes the PPG.

      Your PIF may come back with comments from individual Council members or from the Scientific and Technical Advisory Panel (STAP), that you will need to consider and respond to.

      A Project Document, or ‘ProDoc’, and CEO endorsement request are the outputs from this phase. Note that Implementing Agencies may have their own ProDoc template. The [generic collaboration template](/templates.html#prodoc) can be adapted, or may be used as a starting point when working with a very newly accredited Agency.

      The CEO endorsement request involves some copy and paste from the ProDoc, and explanation of any changes made since the PIF was submitted.

      There are many calculations across the various documents, and when changes are made in one table, it can have knock-on effects across the documents. For this reason we recommend keeping all of your calculations in a master copy, [linked-up spreadsheet](/templates.html#calculation-spreadsheet).

      ## Step 5. Project submission
      Submission of the Project Document with the CEO endorsement is made by the Implementing Agency to the GEF secretariat, who submit it to Council.

      In many cases the project will be approved if there are no objections after 4 weeks.

      The project may be returned with comments, guidance for the implementation phase, and/or possibly a request to resubmit.


  include ../_disqus

include ../_footer
