include ../_header

.content.clearfix
  .sections-container.clearfix
    h1 Workflows
    h3
      a(href="full-size.html") Full-Size Projects (FSP)
    p Some info
    h3
      a(href="one-step-msp.html") One-Step Medium-Size Projects (1-MSP)
    p Some info
    h3 Enabling Activities (EA)
    p Totally separate - check the official GEF EA docs
      a(href="http://www.thegef.org") here
    h3 Small Grants Programme (SGP)
    p Totally separate - check the official docs
      a(href="https://sgp.undp.org/") here

  include ../_disqus

include ../_footer
