include ../_header

.content.clearfix
  .sections-container.clearfix
    h1 Workflows
    a(href="full-size.html") Full-Size Projects
    p Some info
    a(href="one-step-msp.html") One-Step Medium-Size Projects
    p Some info

  include ../_disqus

include ../_footer
