include ../_header

.content.clearfix
  .sections-container.clearfix
    :markdown
      # Medium-size projects (below $1M, or $2M for LDCF)

      The GEF describes it’s full project cycle [here](http://www.thegef.org/gef/project_cycle). This page presents the workflow for an MSP from a project developer point of view.

      MSPs are available through expedited procedures that speed processing (compared to FSPs). The process is even faster if the project doesn’t require project preparation resources.

      **MSP workflow 1:**
      For an MSP that DOES require PPG resources, the process is essentially the same as an [FSP workflow](/full-size.html), except the document goes to the CEO (rather than Council members) for final approval.

      **MSP workflow 2:**
      For an MSP that DOESN’T require PPG resources, the process is straightforward, referred to as a 1-step MSP:

      ## Step 1. Project Idea
      The proponent pursues a partnership with a GEF Agency and GEF Operational Focal Point(s) for endorsement of the initial project concept. We recommend using the [pre-PIF](/templates.html#pre-pif) format as a basis for these discussions.

      Circulate draft pre-PIF to key stakeholders for feedback and agreement. The concept should go to the relevant staff at the GEF secretariat for guidance on whether a 1-step MSP is a suitable modality before embarking on further development.

      ## Step 2. One-step MSP
      Develop the draft 1-step MSP proposal. You can use [1-step MSP collaboration template](/templates.html#1-msp) within your project team, to make it easy to work on different sections at the same time and avoid issues of version control. Remember to get the latest official 1-step MSP template (for GEF Trust Fund or LDCF/SCCF) for official communication.

      It’s likely that there will be preparation activities such as consultations, brief studies, etc but (in the case of 1-step MSPs) these would be supported by non-GEF resources.

      After the appropriate review and sign-off, the implementing agency will make the official submission of the 1-step MSP to the GEF secretariat.

      The project can be approved by the CEO. It might also be returned with comments, guide for implementation and/or a request to resubmit.

  include ../_disqus

include ../_footer
