include ../_header

.content.clearfix
  .sections-container.clearfix
    h1 Medium-Size Projects
    p This is the standard approach. For a faster process, without access to development funds, take a look at  
      a(href="one-step-msp.html") One-Step Medium-Size Projects.

  include ../_disqus

include ../_footer
