include ../_header

.content.clearfix
  .sections-container.clearfix
    h1 One-Step Medium-Size Projects
    p If you want to apply for development funds, you'll need to follow the standard 
      a(href="medium-size.html") Medium-Size Project approach

  include ../_disqus

include ../_footer
