footer._container._container-3.clearfix
  .brough-to-you.brough-to-you-1 Brought to you by&nbsp;
  a.peoplesized.peoplesized-1(href="mailto:gefdevkit@peoplesized.com") Peoplesized
  .not-afiliated.not-afiliated-1 Not afiliated or endorsed by the GEF Secretariat or any of its Implementing Agencies
