header._container._container-1.clearfix
  .branding.branding-1.clearfix
    img.logo(src='/images/do_not_drop_white.svg')
    a.site-title(href="/") GEF developers
  .tagline.tagline-1
    | Help to get you started developing a GEF project. As well as links to the official templates, there are versions annotated with helpful advice and ideas, all ready for you to use.
