extends layout

block content
      include _header

      .content.clearfix
        .sections-container.clearfix
          :markdown
            # Getting started - the basics

            ## <a name="what-is-the-gef"></a>What is the GEF?
            The Global Environment Facility (GEF) is the world’s largest public environmental fund. It has provided more than $15 billion in grants since 1991. It is a partnership supporting developing and emerging economy countries that have signed up to key international environmental agreements, for example on biodiversity, climate change, and land degradation.
            Find more detail [here](http://www.thegef.org/gef/whatisgef).

            ## <a name="who-can-apply"></a>Who can apply?
            [Eligible countries](https://www.thegef.org/gef/country_eligibility) can apply through an accredited [Implementing Agency](http://www.thegef.org/gef/gef_agencies). (In the specific case of [Enabling Activities](http://www.thegef.org/gef/node/10563), countries may apply directly to GEF).
            A project proposal has to fulfill the following general criteria:

            - It is consistent with national priorities and programs.
            - It addresses one or more of the [GEF Focal Areas](http://www.thegef.org/gef/Areas_work), improving the global environment or advance the prospect of reducing risks to it.
            - It is consistent with the [GEF operational strategy](http://www.thegef.org/gef/sites/thegef.org/files/documents/GEF.C.6.3.pdf).
            - It seeks GEF financing only for the agreed-on incremental costs on measures to achieve [global environmental benefits](http://www.thegef.org/gef/GEB) or, in the case of LDCF projects, adaptation benefits
            - It involves the public / civil society / stakeholders in project design and implementation.
            - It is endorsed by the government(s) of the country/ies in which it will be implemented. (Just a limited number of global projects are funded without a country’s endorsement.)

            Find more detail [here](http://www.thegef.org/gef/who_can_apply).


            ## <a name="how-much-what-for"></a>How much money is available, and for what?
            There are two main types of funding for Full- and Medium-Sized projects

            ### GEF Trust Fund
            GEF Trust Fund projects support the incremental cost of achieving global environmental benefits in a number of focal areas: biodiversity, climate change, chemicals, international waters, land degradation, sustainable forest management / REDD +, and ozone layer depletion. The funding is made available for specific strategies within these Focal Areas defined during the fund replenishment discussions every four years.
            There is a total of $4.43 billion available for the 2014-2018 period. Eligible countries are allocated an amount of this total based on a formula; this is called the [Strategic Transparents Allocation of Resources (STAR)](http://www.thegef.org/gef/STAR/country_allocations).

            ### LDCF / SCCF
            The LDCF supports the preparation and the implementation of the National Adaptation Programs of Action (NAPAs) in least developed countries. SCCF supports adaptation and technology transfer in all developing country Parties to UNFCCC.
            LDCF allocation is done via “equitable access” aka “balanced access” (not STAR allocations). Each eligible country may access up to $30 million from LDCF. SCCF is competitive, with more demand than resources available.

            See the key distinctions between Trust Fund and LDCF projects on page 8 [here](http://www.thegef.org/gef/sites/thegef.org/files/publication/23469_LDCF.pdf), and between Trust Fund and SCCF on page 8 [here](http://www.thegef.org/gef/sites/thegef.org/files/publication/23470_SCCF.pdf).

            Other funding streams are available for Enabling Activities, Small Grants, and more; see the [full list of project types](http://www.thegef.org/gef/project_types) for details.

            Examples of previously approved projects are available from the [GEF Project Database](http://www.thegef.org/gef/project_list); more recently approved proposals are generally more relevant and useful as examples.

            ## <a name="what-is-the-process"></a> What’s the process?
            The GEF project cycle is posted on [this page](http://www.thegef.org/gef/project_cycle).
            The project cycle is essentially the same whether requesting funding from the GEF Trust Fund, the SCCF or the LDCF. However, there are some differences for SCCF/LDCF:
            PIF and PPG templates are different.
            PIFs are submitted for CEO clearance on a rolling basis (i.e., there is no specific time frame within which these can be submitted) and are also circulated to Council on a rolling basis.
            For LDCF projects, the distinction between medium-size and full-size is different - an MSP is a project receiving funding up to $2m; an FSP is a project receiving funding above $2m.

            This toolkit’s [Workflow page](/workflows) shows you the process from a project developer point of view.

            ## <a name="how-can-the-toolkit-help"></a> How can the GEF developers toolkit help?
            There is a lot of information to take on board when you’ve been tasked with developing a GEF project, and a number of people and institutions, each with different roles in the process. The toolkit is a resource specifically to help GEF project developers, especially those who are new to the task. It’s based on our 20+ years of experience developing GEF proposals, and our desire to help others get up and running with the templates and format side of things efficiently.

            The toolkit offers:
            - basic information to orient yourself for developing a GEF proposal
            - pointers to the official templates and various guidance across the GEF’s own website
            - access to blank and annotated templates for use in drafting the most common proposal types
            - a forum for discussion with other GEF proposal developers

            _ The GEF developers toolkit is a free resource provided by Peoplesized. It is not affiliated or endorsed by the GEF secretariat or any of its Implementing Agencies - though we do hope they find it useful!_

            ## I have more questions …
            Post them in the discussion below or on the relevant page in the toolkit, or send an email to <gefdevkit@peoplesized.com>!


        include _disqus

      include _footer
