include _header

.content.clearfix
  .sections-container.clearfix
    h1 Getting started
    p This is the home for some basic questions.
    
    p Just how hard is this to edit using Bitbucket editor?

  include _disqus

include _footer
