include _header

.content.clearfix
  .sections-container.clearfix
    h1 Getting started
    p This is the home for some basic questions.
    p This is something else
    p This is another thing

  include _disqus

include _footer
