include _header

.content.clearfix
  .sections-container.clearfix
    .section.getting-started.clearfix
      a.section-header.clearfix(href="getting-started.html")
        .section-title Getting Started
        .section-subtitle The basics
      .section-content.section-content-1
        p Heading
        p Most likely to be a Full-Size Project (FSP)
        p
          br
        p Heading
        p Body body body&nbsp;body body body body
    .section.workflow.clearfix
      a.section-header.clearfix(href="workflows/")
        .section-title.section-title-3 Workflows
        .section-subtitle.section-subtitle-3 Guiding you from start to finish&nbsp;
      .section-content
        p Heading
        p Most likely to be a Full-Size Project (FSP)
        p
          br
        p Heading
        p Body body body&nbsp;body body body body
    .section.templates.clearfix
      a.section-header.clearfix(href="templates.html")
        .section-title.section-title-5 Templates
        .section-subtitle.section-subtitle-5 Jump straight to the goodies
      .section-content
        p Heading
        p Most likely to be a Full-Size Project (FSP)
        p
          br
        p Heading
        p Body body body&nbsp;body body body body

  include _disqus

include _footer
