include _header

.content.clearfix
  .sections-container.clearfix
    .section.getting-started.clearfix
      .section-header.clearfix
        .section-title Workflows
        .section-subtitle Guiding you from start to finish&nbsp;
      .section-content.section-content-1
        p Heading
        p Most likely to be a Full-Size Project (FSP)
        p
          br
        p Heading
        p Body body body&nbsp;body body body body
    .section.workflow.clearfix
      .section-header.clearfix
        .section-title.section-title-3 Workflows
        .section-subtitle.section-subtitle-3 Guiding you from start to finish&nbsp;
      .section-content
        p Heading
        p Most likely to be a Full-Size Project (FSP)
        p
          br
        p Heading
        p Body body body&nbsp;body body body body
    .section.templates.clearfix
      .section-header.clearfix
        .section-title.section-title-5 Workflows
        .section-subtitle.section-subtitle-5 Guiding you from start to finish&nbsp;
      .section-content
        p Heading
        p Most likely to be a Full-Size Project (FSP)
        p
          br
        p Heading
        p Body body body&nbsp;body body body body

include _footer
