include _header

.content.clearfix
  .sections-container.clearfix
    .section.getting-started.clearfix
      a.section-header.clearfix(href="getting-started.html")
        .section-title Getting Started
        .section-subtitle The basics
      .section-content.section-content-1
        p
          strong What is the GEF?
        p A good friend.
        p
          strong Who can apply?
        p A man on a boat, and a woman with a hat.
    .section.workflow.clearfix
      a.section-header.clearfix(href="workflows/")
        .section-title.section-title-3 Workflows
        .section-subtitle.section-subtitle-3 Guiding you from start to finish&nbsp;
      .section-content
        p
          strong More than $2m
        p Most likely to be a &nbsp
          a(href="workflows/full-size.html") Full-Size Project (FSP)
        p
          strong Less than $2m
        p Most likely to be a &nbsp
          a(href="workflows/one-step-msp.html") 1-step MSP (1-MSP)
    .section.templates.clearfix
      a.section-header.clearfix(href="templates.html")
        .section-title.section-title-5 Templates
        .section-subtitle.section-subtitle-5 Jump straight to the goodies
      .section-content
        p
          a(href="templates.html#pre-pif") Pre-PIF
        p
          a(href="templates.html#pif") PIF
        p
          a(href="templates.html#ppg-request") PPG request
        p
          a(href="templates.html#1-msp") 1-step MSP
        p
          a(href="templates.html#prodoc") Generic prodoc
        p
          a(href="templates.html#ceo-endorsement") CEO endorsement request
        p
          a(href="templates.html#review-sheet") Review sheet

  include _disqus

include _footer
