<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Develop better full-size and medium-size projects for the Global Environment Facility">
    <title>GEF Developers Toolkit</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
  </head>
  <body class="body detail clearfix">
    <header class="_container _container-1 clearfix">
      <div class="branding branding-1 clearfix"><img src="images/do_not_drop_white.svg" class="logo"><a href="/" class="site-title">GEF developers toolkit</a></div>
      <div class="tagline tagline-1">Help to get you started developing a GEF project. As well as links to the official templates, there are versions annotated with helpful advice and ideas, all ready for you to use.</div>
    </header>
    <div class="content clearfix">
      <div class="sections-container clearfix">
        <div class="section getting-started clearfix"><a href="getting-started.html" class="section-header clearfix">
            <div class="section-title">Getting Started</div>
            <div class="section-subtitle">The basics</div></a>
          <div class="section-content section-content-1"><p><a href="/getting-started.html#who-can-apply">Who can apply?</a></p>
<p><a href="/getting-started.html#how-much-what-for">How much money is available, and for what?</a></p>
<p><a href="/getting-started.html#what-is-the-process">What’s the process?</a></p>
<p><a href="/getting-started.html#how-can-the-toolkit-help">How can the GEF developers toolkit help?</a></p>
<p><a href="/getting-started.html#what-is-the-gef">What is the GEF?</a></p>

          </div>
        </div>
        <div class="section workflow clearfix">
          <div class="section-header clearfix">
            <div class="section-title section-title-3">Workflows</div>
            <div class="section-subtitle section-subtitle-3">Guiding you from start to finish&nbsp;</div>
          </div>
          <div class="section-content"><p><strong>More than $1m</strong></p>
<p>Most likely to be an <a href="/workflows/full-size.html">Full-size Project(FSP)</a>.</p>
<p><em>If it’s a special case (Climate Change project from the LDCF and less than $2m), use <a href="/workflows/medium-size.html">MSP</a></em></p>
<p><strong>Less than $1m</strong></p>
<p>Most likely to be an <a href="/workflows/medium-size.html">Medium-size Project(MSP)</a>.</p>
<p><em>If it’s a special case (e.g. <a href="http://www.thegef.org/gef/Processing_Enabling_Activities">Enabling Activity</a> or <a href="http://sgp.undp.org">Small Grants Programme</a>)</em></p>

          </div>
        </div>
        <div class="section templates clearfix"><a href="templates.html" class="section-header clearfix">
            <div class="section-title section-title-5">Templates</div>
            <div class="section-subtitle section-subtitle-5">Jump straight to the goodies</div></a>
          <div class="section-content">
            <p><a href="templates.html#pre-pif">Pre-PIF</a></p>
            <p><a href="templates.html#pif">PIF</a></p>
            <p><a href="templates.html#ppg-request">PPG request</a></p>
            <p><a href="templates.html#1-msp">1-step MSP</a></p>
            <p><a href="templates.html#prodoc">Generic prodoc</a></p>
            <p><a href="templates.html#calculation-spreadsheet">Calculation spreadsheet</a></p>
            <p><a href="templates.html#ceo-endorsement">CEO endorsement request</a></p>
            <p><a href="templates.html#focal-point-endorsement">Focal point endorsement request</a></p>
            <p><a href="templates.html#review-sheet">Review sheet</a></p>
          </div>
        </div>
      </div>
      <div id="disqus_thread">
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'gefdevkitorg'; // required: replace example with your forum shortname
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by<span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
    <footer class="_container _container-3 clearfix">
      <div class="brough-to-you brough-to-you-1">Built by &nbsp;</div><a href="mailto:gefdevkit@peoplesized.com" class="peoplesized peoplesized-1">Peoplesized</a>
      <div class="not-afiliated not-afiliated-1">Not afiliated or endorsed by the GEF Secretariat or any of its Implementing Agencies</div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-33744920-9', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>