include _header

h1 Sine thubg
p Not here though. Pretty special
a(href='/workflows/full-size.html') FSP

include _partial

:markdown
  For official docs, checkout http://thegef.org

include _footer

:coffeescript
  console.log 'you can even use coffeescript in your views, aw yeah'
