extends layout

block content
  include _header

  .content.clearfix
    .sections-container.clearfix.templates-list
      .page-intro
        h1 Templates - what you will find here
        h3
          img(class='template-title-icon' src="/images/handle_with_care.svg")
          | Official
        p Links to latest official templates on GEF website are for reference only. Be sure to get the correct latest official templates directly from the GEF secretariat, and ask for them to be unlocked / macros disabled.
        h3
          img(class='template-title-icon' src="/images/document.svg")
          | Blank
        p Google Drive versions of the templates to aid in drafting and collaboration within project teams. These are working versions only; you’ll need to copy over to the official templates for submission and other formal communication. Make your own copy to use by clicking this inside Google Drive:
          | 
          tt File > Make a Copy
        h3
          img(class='template-title-icon' src="/images/edit_file.svg")
          | Annotated
        p Blank version plus informal advice and helpful ideas.

      .template-entry.pre-pif
        a(name="pre-pif")
        h3 "Pre-PIF"
        p Not an official template. Recommended for early discussions.
        .template-links
          .template-link.disabled
            img(class='template-small-icon' src="/images/handle_with_care.svg")
            | official
          .template-link
            a(href="https://docs.google.com/document/d/1IyYIZt7-_8_Sh7qVWkHaxm8rpZXOM2bCtWmgTVeo10Q/edit?usp=sharing", target="_blank")
              img(class='template-small-icon' src="/images/document.svg")
              | blank
          .template-link
            a(href="https://docs.google.com/document/d/1vR0H-Ft422SnEHI-E0St_LXjsmQo31lYLJ1ZaeXhfl8/edit?usp=sharing", target="_blank")
              img(class='template-small-icon' src="/images/edit_file.svg")
              | annotated

      .template-entry.pif
        a(name="pif")
        h3 Project Identification Form (PIF)
        .template-links
          .template-link
            a(href="http://www.thegef.org/gef/sites/thegef.org/files/documents/GEF_PIF_Template_March2014_2014-03-13.doc")
              img(class='template-small-icon' src="/images/handle_with_care.svg")
              | official
          .template-link
            a(href="https://docs.google.com/document/d/1zMbHcpUuT84KLlIYzdKDUEXMvuwSo0Puf-_GXX9edv8/edit?usp=sharing", target="_blank")
              img(class='template-small-icon' src="/images/document.svg")
              | blank
          .template-link
            a(href="https://docs.google.com/document/d/12cjo_fbKZ5quQESGagik8a6hcMPXM0_WjQ6H0hBC25w/edit?usp=sharing", target="_blank")
              img(class='template-small-icon' src="/images/edit_file.svg")
              | annotated

      .template-entry.ppg-request
        a(name="ppg-request")
        h3 Project Preparation Grant request
        p For previously approved PIFs.
        .template-links
          .template-link
            a(href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/PPG%20Template-Dec2013.doc")
              img(class='template-small-icon' src="/images/handle_with_care.svg")
              | official
          .template-link.disabled
            img(class='template-small-icon' src="/images/document.svg")
            | blank
          .template-link.disabled
            img(class='template-small-icon' src="/images/edit_file.svg")
            | annotated

      .template-entry.1-msp
        a(name="1-msp")
        h3 One-step Medium-size Project
        .template-links
          .template-link
            a(href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/GEF5_MSP_Template_January2013_2013-11-15.doc")
              img(class='template-small-icon' src="/images/handle_with_care.svg")
              | official
          .template-link
            a(href="https://docs.google.com/document/d/1vSqrPVPc3W1DdxHY8xwr-kGGFH37WcnT1UyhYCJUhoE/edit?usp=sharing", target="_blank")
              img(class='template-small-icon' src="/images/document.svg")
              | blank
          .template-link
            a(href="https://docs.google.com/document/d/1dS7VL7MhQ4ev_13CYJmbvDLq3at-L8-noEUdrfzTkVA/edit?usp=sharing", target="_blank")
              img(class='template-small-icon' src="/images/edit_file.svg")
              | annotated

      .template-entry.prodoc
        a(name="prodoc")
        h3 Generic project document (ProDoc)
        p Implementing agencies may have their own ProDoc template. A generic one can be useful for early thinking, or when working with a newly accredited IA.
        .template-link
          a(href="#")
            img(class='template-small-icon' src="/images/handle_with_care.svg")
            | official
        .template-link
          a(href="https://docs.google.com/document/d/1FfUO8ihBzS6ZuCUeybXp3NGVfOjelyv1nmfKHMSWEmc", target="_blank")
            img(class='template-small-icon' src="/images/document.svg")
            | blank
        .template-link
          a(href="https://docs.google.com/document/d/1IyYIZt7-_8_Sh7qVWkHaxm8rpZXOM2bCtWmgTVeo10Q", target="_blank")
            img(class='template-small-icon' src="/images/edit_file.svg")
            | annotated

      .template-entry.calculation-spreadsheet
        a(name="calculation-spreadsheet")
        h3 Calculation spreadsheet
        p A working document to make sure your calculations add up across sections of the ProDoc and CEO endorsement.
        .template-link.disabled
          img(class='template-small-icon' src="/images/handle_with_care.svg")
          | official
        .template-link
          a(href="#", target="_blank")
            img(class='template-small-icon' src="/images/document.svg")
            | blank
        .template-link.disabled
          img(class='template-small-icon' src="/images/edit_file.svg")
          | annotated

      .template-entry.ceo-endorsement
        a(name="ceo-endorsement")
        h3 Request for GEF CEO endorsement
        .template-link
          a(href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/GEF5_CEO_Endorsement_Template-February2013_2013-11-08.doc")
            img(class='template-small-icon' src="/images/handle_with_care.svg")
            | official
        .template-link.disabled
          img(class='template-small-icon' src="/images/document.svg")
          | blank
        .template-link.disabled
          img(class='template-small-icon' src="/images/edit_file.svg")
          | annotated

      .template-entry.focal-point-endorsement
        a(name="focal-point-endorsement")
        h3 GEF Focal Point endorsement request
        .template-link
          a(href="http://www.thegef.org/gef/sites/thegef.org/files/documents/OFP%20Endorsement%20Letter%20Template%2011-1-11_0.doc")
            img(class='template-small-icon' src="/images/handle_with_care.svg")
            | official
        .template-link.disabled
          img(class='template-small-icon' src="/images/document.svg")
          | blank
        .template-link.disabled
          img(class='template-small-icon' src="/images/edit_file.svg")
          | annotated

      .template-entry.review-sheet
        a(name="review-sheet")
        h3 Review sheet
        .template-link
          a(href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/GEFSEC%20Review%20Sheet%20for%20FSP-MSP-March2013.doc")
            img(class='template-small-icon' src="/images/handle_with_care.svg")
            | official
        .template-link.disabled
          img(class='template-small-icon' src="/images/document.svg")
          | blank
        .template-link.disabled
          img(class='template-small-icon' src="/images/edit_file.svg")
          | annotated



    include _disqus

  include _footer
