include _header

.content.clearfix
  .sections-container.clearfix
    h1 Templates
    p Probably easiest just to list them out in here

    a(name='chapter4')

    .pre-pif
      a(name="pre-pif")
      h3 Pre-PIF
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1IyYIZt7-_8_Sh7qVWkHaxm8rpZXOM2bCtWmgTVeo10Q", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/1vR0H-Ft422SnEHI-E0St_LXjsmQo31lYLJ1ZaeXhfl8", target="_blank") annotated

    .pif
      a(name="pif")
      h3 PIF
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1zMbHcpUuT84KLlIYzdKDUEXMvuwSo0Puf-_GXX9edv8", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/12cjo_fbKZ5quQESGagik8a6hcMPXM0_WjQ6H0hBC25w", target="_blank") annotated

    .ppg-request
      a(name="ppg-request")
      h3 PPG request
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1W8-cwA0N2GnOa9SXP0NxUeSB5qbDyfrQXPf_6rGmLtk", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/1lRSKUvC-aqU_e2NP4p6Xk-PA58GYfL-cJOHJBXA-cVo", target="_blank") annotated

    .1-msp
      a(name="1-msp")
      h3 1-MSP
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1vSqrPVPc3W1DdxHY8xwr-kGGFH37WcnT1UyhYCJUhoE", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/1dS7VL7MhQ4ev_13CYJmbvDLq3at-L8-noEUdrfzTkVA", target="_blank") annotated

    .prodoc
      a(name="prodoc")
      h3 Generic prodoc
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1FfUO8ihBzS6ZuCUeybXp3NGVfOjelyv1nmfKHMSWEmc", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/1IyYIZt7-_8_Sh7qVWkHaxm8rpZXOM2bCtWmgTVeo10Q", target="_blank") annotated

    .ceo-endorsement
      a(name="ceo-endorsement")
      h3 CEO endorsement request
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1FNt6PsWS5OYAPXDH8TWnfK8j4dcnMYCGbnkA-kXpPvA", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/18RwsL4lxAB9vbD3K-AtYS2JpdhgjdFbgOWXGABjnKIk", target="_blank") annotated

    .review-sheet
      a(name="review-sheet")
      h3 Review sheet
      a(href="#") official
      |
      a(href="https://docs.google.com/document/d/1pFLCdZJkwl_roOxkebrUcZXYYQpG-4orbHmb8EmEiGw", target="_blank") blank
      |
      a(href="https://docs.google.com/document/d/1FfUO8ihBzS6ZuCUeybXp3NGVfOjelyv1nmfKHMSWEmc", target="_blank") annotated



  include _disqus

include _footer
