include _header

.content.clearfix
  .sections-container.clearfix.templates-list
    h1 Templates - what you will find here 
    h2 
      img(class='template-title-icon' src="/images/handle_with_care.svg")
      | Official
    p Links to latest official templates on GEF website are for reference only. Be sure to get the correct latest official templates directly from the GEF secretariat, and ask for them to be unlocked / macros disabled.  
    h2 
      img(class='template-title-icon' src="/images/document.svg")
      | Blank
    p Google Drive versions of the templates to aid in drafting and collaboration within project teams. These are working versions only; you’ll need to copy over to the official templates for submission and other formal communication. 
    p Make your own copy to use by clicking this inside Google Drive:
      | 
      tt File > Make a Copy       
    h2 
      img(class='template-title-icon' src="/images/edit_file.svg")
      | Annotated
    p Blank version plus informal advice and helpful ideas. 

    .pre-pif
      a(name="pre-pif")
      h3 Pre-PIF
      p Not an official template. recommended for early discussions.
      a(class='template-link' href="https://docs.google.com/document/d/1IyYIZt7-_8_Sh7qVWkHaxm8rpZXOM2bCtWmgTVeo10Q/edit?usp=sharing", target="_blank") 
        img(class='template-small-icon' src="/images/document.svg")
        | blank
      a(class='template-link' href="https://docs.google.com/document/d/1vR0H-Ft422SnEHI-E0St_LXjsmQo31lYLJ1ZaeXhfl8/edit?usp=sharing", target="_blank")
        img(class='template-small-icon' src="/images/edit_file.svg")
        | annotated

    .pif
      a(name="pif")
      h3 PIF
      a(class='template-link' href="http://www.thegef.org/gef/sites/thegef.org/files/documents/GEF_PIF_Template_March2014_2014-03-13.doc")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      a(class='template-link' href="https://docs.google.com/document/d/1zMbHcpUuT84KLlIYzdKDUEXMvuwSo0Puf-_GXX9edv8/edit?usp=sharing", target="_blank") 
        img(class='template-small-icon' src="/images/document.svg")
        | blank
      a(class='template-link' href="https://docs.google.com/document/d/12cjo_fbKZ5quQESGagik8a6hcMPXM0_WjQ6H0hBC25w/edit?usp=sharing", target="_blank") 
        img(class='template-small-icon' src="/images/edit_file.svg")
        | annotated

    .ppg-request
      a(name="ppg-request")
      h3 PPG request
      p For previously approved PIFs.
      a(class='template-link' href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/PPG%20Template-Dec2013.doc")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      //- a(class='template-link' href="https://docs.google.com/document/d/1W8-cwA0N2GnOa9SXP0NxUeSB5qbDyfrQXPf_6rGmLtk", target="_blank") 
      //-   img(class='template-small-icon' src="/images/document.svg")
      //-   | blank
      //- a(class='template-link' href="https://docs.google.com/document/d/1lRSKUvC-aqU_e2NP4p6Xk-PA58GYfL-cJOHJBXA-cVo", target="_blank") 
      //-   img(class='template-small-icon' src="/images/edit_file.svg")
      //-   | annotated

    .1-msp
      a(name="1-msp")
      h3 1-MSP
      a(class='template-link' href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/GEF5_MSP_Template_January2013_2013-11-15.doc")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      a(class='template-link' href="https://docs.google.com/document/d/1vSqrPVPc3W1DdxHY8xwr-kGGFH37WcnT1UyhYCJUhoE/edit?usp=sharing", target="_blank") 
        img(class='template-small-icon' src="/images/document.svg")
        | blank
      a(class='template-link' href="https://docs.google.com/document/d/1dS7VL7MhQ4ev_13CYJmbvDLq3at-L8-noEUdrfzTkVA/edit?usp=sharing", target="_blank") 
        img(class='template-small-icon' src="/images/edit_file.svg")
        | annotated

    .prodoc
      a(name="prodoc")
      h3 Generic prodoc
      p Implementing agencies may have their own ProDoc template. A generic one can be useful for early thinking, or when working with a newly accredited IA.
      a(class='template-link' href="#")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      a(class='template-link' href="https://docs.google.com/document/d/1FfUO8ihBzS6ZuCUeybXp3NGVfOjelyv1nmfKHMSWEmc", target="_blank") 
        img(class='template-small-icon' src="/images/document.svg")
        | blank
      a(class='template-link' href="https://docs.google.com/document/d/1IyYIZt7-_8_Sh7qVWkHaxm8rpZXOM2bCtWmgTVeo10Q", target="_blank") 
        img(class='template-small-icon' src="/images/edit_file.svg")
        | annotated

    .ceo-endorsement
      a(name="ceo-endorsement")
      h3 CEO endorsement request
      a(class='template-link' href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/GEF5_CEO_Endorsement_Template-February2013_2013-11-08.doc")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      //- a(class='template-link' href="https://docs.google.com/document/d/1FNt6PsWS5OYAPXDH8TWnfK8j4dcnMYCGbnkA-kXpPvA", target="_blank") 
      //-   img(class='template-small-icon' src="/images/document.svg")
      //-   | blank
      //- a(class='template-link' href="https://docs.google.com/document/d/18RwsL4lxAB9vbD3K-AtYS2JpdhgjdFbgOWXGABjnKIk", target="_blank") 
      //-   img(class='template-small-icon' src="/images/edit_file.svg")
      //-   | annotated

    .focal-point-endorsement
      a(name="focal-point-endorsement")
      h3 Focal point endorsement request
      a(class='template-link' href="http://www.thegef.org/gef/sites/thegef.org/files/documents/OFP%20Endorsement%20Letter%20Template%2011-1-11_0.doc")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      //- a(class='template-link' href="https://docs.google.com/document/d/1FNt6PsWS5OYAPXDH8TWnfK8j4dcnMYCGbnkA-kXpPvA", target="_blank") 
      //-   img(class='template-small-icon' src="/images/document.svg")
      //-   | blank
      //- a(class='template-link' href="https://docs.google.com/document/d/18RwsL4lxAB9vbD3K-AtYS2JpdhgjdFbgOWXGABjnKIk", target="_blank") 
      //-   img(class='template-small-icon' src="/images/edit_file.svg")
      //-   | annotated

    .review-sheet
      a(name="review-sheet")
      h3 Review sheet
      a(class='template-link' href="http://www.thegef.org/gef/sites/thegef.org/files/documents/document/GEFSEC%20Review%20Sheet%20for%20FSP-MSP-March2013.doc")
        img(class='template-small-icon' src="/images/handle_with_care.svg")
        | official
      //- a(class='template-link' href="https://docs.google.com/document/d/1pFLCdZJkwl_roOxkebrUcZXYYQpG-4orbHmb8EmEiGw", target="_blank") 
      //-   img(class='template-small-icon' src="/images/document.svg")
      //-   | blank
      //- a(class='template-link' href="https://docs.google.com/document/d/1FfUO8ihBzS6ZuCUeybXp3NGVfOjelyv1nmfKHMSWEmc", target="_blank") 
      //-   img(class='template-small-icon' src="/images/edit_file.svg")
      //-   | annotated



  include _disqus

include _footer
