/* CUSTOM  */

a {
  text-decoration: none;
}

h3 {
  margin-bottom: 5px;
}

body {
  margin: 0;
}

.tagline {
  font-size: 2.2em;
}

#disqus_thread {
  padding: 70px 0px;
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
}

.section.getting-started > .section-header {
  background: rgb(61,71,152);
}
.section.workflows > .section-header {
  background: rgb(116,61,152);
}
.section.templates > .section-header {
  background: rgb(61,152,96);
}

.template-title-icon {
  margin-right: 10px;
  height: 20px;
}

.template-small-icon {
  height: 16px;
  margin-right: 7px;
}

.template-link {
  margin-right: 25px;
}

.templates-list {
  p {
    margin-top: 0;
    margin-bottom: 6px;
  }
}



/* FROM MACAW */

body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.18 'Open Sans';
  color: rgb(124, 124, 124);
}

.branding {
  float: left;
  width: 355px;;
  margin: 42px 0px 0px 8.75%;
}

.brough-to-you {
  display: inline-block;
  float: left;
  margin: 46px 0 0 7.60547%;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.content {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 98px;
}

.logo {
  display: block;
  float: left;
  width: 40px;
  height: auto;
  overflow: hidden;
}

.not-afiliated {
  display: inline-block;
  float: right;
  width: 14%;
  margin-right: 4.16797%;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(155, 155, 155);
}

.peoplesized {
  display: inline-block;
  float: left;
  clear: both;
  margin: 5px 0 0 7.60547%;
  font-size: 1.313em;
  font-weight: 600;
  line-height: 1.38;
}

.section {
  float: left;
  width: 29.2929292929%;
  padding-bottom: 15px;
  background-color: rgb(238, 238, 238);
}

.section-content {
  float: left;
  clear: both;
  width: 90%;
  height: 295px;
  margin: 16px 0 0 15px;
  font-weight: 400;
  color: rgb(124, 124, 124);
}

.section-header {
  float: left;
  width: 100%;
  padding-bottom: 7px;
  background-color: rgb(116, 61, 152);
}

.section-subtitle {
  float: left;
  clear: both;
  width: 90%;
  min-height: 38px;
  margin: 5px 0 0 5%;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.section-title {
  display: inline-block;
  float: left;
  width: 90%;
  margin: 15px 0 0 5%;
  font-size: 1.563em;
  font-weight: 600;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.sections-container {
  width: 82.5%;
  margin: 65px auto 0;
  // overflow: auto;
}

.site-title {
  display: inline-block;
  float: left;
  margin-left: 3.67985%;
  font-size: 1.438em;
  font-weight: 600;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.tagline {
  float: left;
  clear: both;
  width: 80%;
  min-height: 96px;
  margin: 57px 0px 0px 8.75%;
  color: rgb(255, 255, 255);
}

.templates {
  margin-left: 5.45455%;
}

.workflow {
  margin-left: 6.66667%;
}

._container {
  float: left;
  width: 100%;
}

.peoplesized-1 {
  color: rgb(255, 255, 255);
}

.peoplesized-2 {
  color: rgb(255, 255, 255);
}

.tagline-2 {
  font-weight: 300;
}

._container-1,
._container-2 {
  padding-bottom: 71px;
  background-color: rgb(52, 13, 77);
}

._container-3,
._container-4 {
  clear: both;
  height: 276px;
  background-color: rgb(0, 0, 54);
}

@media(max-width: 992px) {
  .tagline {
    width: 90%;
    font-size: 1.8em;
    margin: 42px 0px 0px 5%;
  }

  #disqus_thread {
    padding: 70px 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .branding {
    margin: 42px 0px 0px 5%;
  }
  .branding .logo {
    height: auto;
  }

  .content .sections-container {
    width: 100%;
    height: auto;
    margin-top: 0;

    float: none;
    clear: both;
    width: 90%;
    padding-bottom: 98px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
  }

  .section-content {
    margin-left: 4.99834%;
    height: 100%;
  }

  .section-subtitle {
    margin-top: 0;
  }

  .section-title {
    margin-top: 23px;
  }

  .section-header .section-subtitle,
  .section-header .section-title {
    margin-left: 4.99834%;
  }

  .sections-container .getting-started {
    margin-top: 27px;
  }

  .sections-container .section {
    float: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow:auto; 
  }

  .sections-container .templates,
  .sections-container .workflow {
    margin-top: 40px;
  }

  ._container .not-afiliated-1,
  ._container .not-afiliated-2 {
    margin-right: 4.16772%;
  }

  ._container .brough-to-you-1,
  ._container .brough-to-you-2,
  ._container .peoplesized-1,
  ._container .peoplesized-2 {
    margin-left: 7.60459%;
  }


}
